<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.umn.uts_27458">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_spotmefy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:forceDarkAllowed="true">

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.No_Bar.UTS_27458"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Profile Saya"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.UTS_27458" />
        <activity
            android:name=".LoginActivity"
            android:label="Halaman Login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.UTS_27458" />
        <activity
            android:name=".ListSongActivity"
            android:label="List Lagu"
            android:theme="@style/Theme.UTS_27458" />

        <activity android:name=".SongPlayerActivity"
            android:parentActivityName=".ListSongActivity"
            android:theme="@style/Theme.UTS_27458"
            android:label="Now Playing"/>
    </application>

</manifest>