<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.umn.week04a_27458" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Week04A_27458" >
        <activity
            android:name=".FirstActivity"
            android:label="First Activity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:label="Third Activity"
            android:parentActivityName=".FirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstActivity" />
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="Second Activity"
            android:parentActivityName=".FirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstActivity" />
        </activity>
        <activity
            android:name=".ActivityDua"
            android:label="Activity Kedua"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>